projects.alexmroberts.net {
    root * /var/www/portal
    handle {
        file_server
    }

    handle /favicon.ico {
        respond "" 204
    }

    handle /oiltracker/api* {
        reverse_proxy api:8000
    }

    redir /oiltracker/ui /oiltracker/ui/

    handle_path /oiltracker/ui* {
        reverse_proxy oil-dashboard:8501
    }
}